﻿<%@ Page Title="" Language="C#" MasterPageFile="~/admin.master" AutoEventWireup="true" CodeFile="add_violation.aspx.cs" Inherits="add_violation" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
    <style type="text/css">
        .style1
        {
            width: 100%;
        }
        .style4
        {
            width: 222px;
            height: 52px;
        }
        .style5
        {
            text-align: center;
            height: 52px;
        }
        .style6
        {
            height: 52px;
        }
        .style7
        {
            width: 222px;
            height: 56px;
        }
        .style8
        {
            text-align: center;
            height: 56px;
        }
        .style9
        {
            height: 56px;
        }
        .style10
        {
            width: 222px;
            height: 53px;
        }
        .style11
        {
            text-align: center;
            height: 53px;
        }
        .style12
        {
            height: 53px;
        }
        .style13
        {
            width: 222px;
            height: 55px;
        }
        .style14
        {
            height: 55px;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <table class="style1">
        <tr>
            <td class="style4">
            </td>
            <td class="style5">
                ID</td>
            <td class="style6">
                <asp:TextBox ID="TextBox1" runat="server" ontextchanged="TextBox1_TextChanged"></asp:TextBox>
            </td>
            <td class="style6">
            </td>
        </tr>
        <tr>
            <td class="style7">
            </td>
            <td class="style8">
                TYPE</td>
            <td class="style9">
                <asp:TextBox ID="TextBox2" runat="server" ontextchanged="TextBox2_TextChanged"></asp:TextBox>
            </td>
            <td class="style9">
            </td>
        </tr>
        <tr>
            <td class="style10">
            </td>
            <td class="style11">
                DETAILS</td>
            <td class="style12">
                <asp:TextBox ID="TextBox3" runat="server"></asp:TextBox>
            </td>
            <td class="style12">
            </td>
        </tr>
        <tr>
            <td class="style13">
            </td>
            <td class="style14">
            </td>
            <td class="style14">
                <asp:Button ID="Button1" runat="server" Height="29px" onclick="Button1_Click" 
                    Text="ADD" Width="77px" />
            </td>
            <td class="style14">
            </td>
        </tr>
    </table>
</asp:Content>

