﻿<%@ Page Title="" Language="C#" MasterPageFile="~/admin.master" AutoEventWireup="true" CodeFile="add_offence.aspx.cs" Inherits="add_offence" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
    <style type="text/css">
        .style1
        {
            width: 100%;
        }
        .style4
        {
            width: 255px;
            height: 49px;
        }
        .style5
        {
            width: 191px;
            height: 49px;
        }
        .style6
        {
            height: 49px;
        }
        .style7
        {
            width: 255px;
            height: 58px;
        }
        .style8
        {
            width: 191px;
            height: 58px;
        }
        .style9
        {
            height: 58px;
        }
        .style10
        {
            width: 255px;
            height: 60px;
        }
        .style11
        {
            width: 191px;
            height: 60px;
        }
        .style12
        {
            height: 60px;
        }
        .style13
        {
            width: 255px;
            height: 54px;
        }
        .style14
        {
            width: 191px;
            height: 54px;
        }
        .style15
        {
            height: 54px;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <table class="style1">
        <tr>
            <td class="style4">
            </td>
            <td class="style5">
                ID</td>
            <td class="style6">
                <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
            </td>
            <td class="style6">
            </td>
        </tr>
        <tr>
            <td class="style7">
            </td>
            <td class="style8">
                OFFENCE TYPE</td>
            <td class="style9">
                <asp:TextBox ID="TextBox2" runat="server"></asp:TextBox>
            </td>
            <td class="style9">
            </td>
        </tr>
        <tr>
            <td class="style7">
                &nbsp;</td>
            <td class="style8">
                DESCRIPTION</td>
            <td class="style9">
                <asp:TextBox ID="TextBox4" runat="server"></asp:TextBox>
            </td>
            <td class="style9">
                &nbsp;</td>
        </tr>
        <tr>
            <td class="style10">
            </td>
            <td class="style11">
                AMOUNT</td>
            <td class="style12">
                <asp:TextBox ID="TextBox3" runat="server"></asp:TextBox>
            </td>
            <td class="style12">
            </td>
        </tr>
        <tr>
            <td class="style13">
            </td>
            <td class="style14">
            </td>
            <td class="style15">
                <asp:Button ID="Button1" runat="server" Height="31px" onclick="Button1_Click" 
                    Text="ADD" Width="84px" />
            </td>
            <td class="style15">
            </td>
        </tr>
    </table>
</asp:Content>

