﻿<%@ Page Title="" Language="C#" MasterPageFile="~/login.master" AutoEventWireup="true" CodeFile="login.aspx.cs" Inherits="login" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
    <style type="text/css">
        .style1
        {
            width: 100%;
        }
        .style4
        {
            width: 175px;
            height: 46px;
        }
        .style5
        {
            width: 184px;
            height: 46px;
            text-align: center;
        }
        .style6
        {
            height: 46px;
        }
        .style7
        {
            width: 175px;
            height: 44px;
        }
        .style8
        {
            width: 184px;
            height: 44px;
        }
        .style9
        {
            height: 44px;
        }
        .style10
        {
            width: 184px;
            height: 44px;
            text-align: center;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <table class="style1">
        <tr>
            <td class="style4">
            </td>
            <td class="style5">
                USER NAME</td>
            <td class="style6">
                <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
            </td>
            <td class="style6">
            </td>
        </tr>
        <tr>
            <td class="style7">
            </td>
            <td class="style10">
                PASSWORD</td>
            <td class="style9">
                <asp:TextBox ID="TextBox2" runat="server" TextMode="Password"></asp:TextBox>
            </td>
            <td class="style9">
            </td>
        </tr>
        <tr>
            <td class="style7">
            </td>
            <td class="style8">
            </td>
            <td class="style9">
                <asp:Button ID="Button1" runat="server" Height="29px" onclick="Button1_Click" 
                    style="margin-left: 0px" Text="LOGIN" Width="77px" 
                    PostBackUrl="~/adminhome.aspx" />
            </td>
            <td class="style9">
            </td>
        </tr>
    </table>
</asp:Content>

